<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mi aplicación web</title>
    <link href="~/Styles/css/base.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href="~/Styles/css/ingresar.css" rel="stylesheet" />
</head>
<body>
    <div class="caja_padre">
        <form class="caja_hija animated BounceIn">
            <div class="caja_bienvenida">
                <span class="icon-user" id="ico_user"></span>
                <span class="fa fa-chrome"></span>
                <h1 id="lbl_bienvenido">Bienvenido</h1>
            </div>
            <div class="caja_inputs">
                <input class="txt" type="text" placeholder="Nombre de usuario" required />
                <input class="txt" type="password" placeholder="Contraseña" required />
                <input class="btn btn-azul" type="submit" value="Entrar" />
            </div>

        </form>
    </div>
</body>
</html>
