<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mi aplicación web</title>
    <link href="~/Styles/css/base.css" rel="stylesheet" />
    <link href="~/Styles/css/menu.css" rel="stylesheet" />
    <script src="~/LibreriasJS/jquery-1.11.3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="top_bar" class="animated">
        <div id="btn_menu">
            <span class="icon-menu"></span>
        </div>
        <div class="hvr-pulse" id="lbl_usuarioLogueado">
            Abraham Méndez
        </div>
        <div class="toolbar">
            <ul >
                <li>
                    <button class="btn btn-toolbar hvr-radial-out">Tool 1</button>
                </li>
                <li>
                    <button class="btn btn-toolbar hvr-radial-out">Tool 2</button>
                </li>
            </ul>
        </div>
    </div>
    <div id="contenedor_notificacion"> <!-- inicio div para notificaciones -->
        

    </div> <!-- fin div para notificaciones -->
    <nav id="menu" class="animated fadeInLeft">
        <aside id="logotipoEmpresa">
        </aside>
        <ul>
            <li id="btn_agregarEmpleado" class="hvr-bounce-in">
                <span class="icono-menu icon-users"></span>
                <span class="titulo-menu">Agregar Empleados</span>
            </li>
        </ul>
    </nav>
</body>
    <script src="~/Frontend/testJQuery.js"></script>
    <script src="~/Frontend/Mensaje.js"></script>
</html>
